<div class="w-full flex flex-col items-center justify-center pt-4 gap-2">
  <p class="italic text-center font-semibold">
    Knowledge doesn't come but you have to go to it. ~
    <span class="font-normal">Imam Malik</span>
  </p>
  <p class="text-sm">&copy; <%= (new Date).getFullYear() %> mrizalr.</p>
</div>