<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/css/output.css">
  <title>mrizalr.</title>
</head>

<body class="p-5 sm:flex sm:items-center sm:justify-center">
  <div class="min-h-[calc(100dvh-2.5rem)] w-full sm:max-w-[800px]">
    <%- include(body) %>
  </div>

  <% if (typeof scripts !== 'undefined') { %>
  <% scripts.forEach(script => { %>
  <script src="<%= script.src %>"></script>
  <% }) %>
  <% } %>
</body>

</html>