<div class="w-full h-[calc(100dvh-5.5rem)] flex items-center justify-center flex-col gap-8">
  <div class="flex gap-2 items-center">
    <img src="/img/profile-picture.jpg" alt="Profile picture" class="w-8 h-8 rounded-full" />
    <h1 class="font-medium">Welcome back</h1>
  </div>
  <form id="login-form" class="flex flex-col">
    <label class="text-sm font-medium pb-3">Insert your password to access dashboard.</label>
    <div class="w-full flex items-center gap-1">
      <input type="password" name="password" id="password" placeholder="yourpassword" class="border-2 p-2 rounded-md flex-1" />
      <button id="submitBtn" type="submit" class="bg-[#363636] text-white h-10 px-3 rounded-md flex gap-1 items-center">
        <div class="w-4 h-4 rounded-full border-white border-2 border-t-black/0 animate-spin hidden opacity-0 duration-150"></div> login
      </button>
    </div>
    <label id="message" class="pt-1 pl-2 text-red-500 text-xs font-medium duration-150 h-4">
    </label>
  </form>
</div>