<div class="h-[calc(100dvh-4rem)] flex items-center justify-center flex-col gap-3">
  <img class="w-16 h-1w-16 rounded-full grayscale" src="/img/profile-picture.jpg" alt="profile-picture">
  <h1 class="font-bold text-sm">Page not found. (404)</h1>
</div>